<div class="container-fluid">
    <form action="" id="category-form">
        <input type="hidden" name="id" value="{% if category.pk %}{{category.pk}}{% endif %}">
        <div class="form-group mb-3">
            <label for="name" class="control-label">Serial Number</label>
            <input type="text" name="name" id="name" class="form-control form-control-sm rounded-0" value="{% if category.serial_number %}{{category.serial_number}}{% endif %}" required>
        </div>
    </form>
</div>
<script>
    $(function() {
        $('#category-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "updatesn",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                beforeSend: function() {
                    // setting a timeout
                    swal.fire({
                        title: 'Please Wait !',
                        html: 'Loading...',// add html attribute if you want or remove
                        allowOutsideClick: false,
                        showCancelButton: false, // There won't be any cancel button
                        showConfirmButton: false
                    
                    });
                },
                error: err => {
                    swal.close();
                    console.log(err)
                    alert_toast("An error occured", 'error');
                    
                    
                },
                success: function(resp) {
                    swal.close();
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    
                }
            })
        })
    })
</script>