<div class="container-fluid">
    <form action="" id="product-form" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{% if product.pk %}{{product.pk}}{% endif %}">
        <div class="form-group mb-3">
            <label for="category_id" class="control-label">Category</label>
            <select name="category_id" id="category_id" class="form-select form-select-sm rounded-0" required>
            {% if not product.category_id %}
            <option value="" disabled selected></option>
            {% else %}
            <option value="" disabled></option>
            {% endif %}
            {% for category in categories %}
                {% if product.category_id.id == category.id %}
                <option value="{{ category.id }}" selected>{{ category.name }}</option>
                {% else %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        </div>
        <div class="form-group mb-3">
            <label for="supplier_id" class="control-label">supplier</label>
            <select name="supplier_id" id="supplier_id" class="form-select form-select-sm rounded-0" required>
            {% if not product.supplier_id %}
            <option value="" disabled selected></option>
            {% else %}
            <option value="" disabled></option>
            {% endif %}
            {% for supplier in suppliers %}
                {% if product.supplier_id.id == supplier.id %}
                <option value="{{ supplier.id }}" selected>{{ supplier.name }}</option>
                {% else %}
                <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        
        </div>
            <div class="form-group mb-3">
                <label for="name" class="control-label">Product Name</label>
                <input type="text" name="name"  style="text-transform:uppercase" id="name" class="form-control form-control-sm rounded-0" value="{% if product.name %}{{product.name}}{% endif %}" required>
            </div>
            <div class="form-group mb-3">
                <label for="description" class="control-label">Description</label>
                <textarea rows="5" name="description"  style="text-transform:uppercase" id="description" class="form-control form-control-sm rounded-0" required>{% if product.description %}{{product.description}}{% endif %}</textarea>
            </div>
            <div class="form-group mb-3">
                <label for="price" class="control-label">Price</label>
                <input type="text" id="price" class="form-control form-control-sm rounded-0" value="{% if product.price %}{{product.price}}{% endif %}" required>
                <input type="hidden" name="price" id="priceV2" class="form-control form-control-sm rounded-0" value="{% if product.price %}{{product.price}}{% endif %}" required>
            </div>
            <div class="form-group mb-3">
                <label for="category_id" class="control-label">Category</label>
    
                <select name="selling_price_id" id="selling_price_id" class="form-select form-select-sm rounded-0" required>
                    <option value="" disabled selected></option>
                    <option value="nominal">nominal</option>
                    <option value="percent">percent</option>
                    <option value="margin">nominal margin</option>

                </select>
            </div>

            <div class="form-group mb-3">
                <label for="selling_price" class="control-label">Selling Price</label>
                <input type="text"  id="selling_price" class="form-control form-control-sm rounded-0" value="{% if product.selling_price %}{{product.selling_price}}{% endif %}" required>
                <input type="hidden" name="selling_price" id="selling_priceV2" class="form-control form-control-sm rounded-0" value="{% if product.selling_price %}{{product.selling_price}}{% endif %}" required>
            </div>


            <div class="form-group mb-3">
                <label for="status" class="control-label">Status</label>
                <select name="status" id="status" class="form-select form-select-sm rounded-0" required>
            {% if product.status and product.status == 1 %}
            <option value="1" selected>Active</option>
            {% else %}
            <option value="1">Active</option>
            {% endif %}

            {% if product.status and product.status == 0 %}
            <option value="0" selected>Inactive</option>
            {% else %}
            <option value="0">Inactive</option>
            {% endif %}
        </select>
            </div>
            <div class="form-group mb-3">
                <label for="price" class="control-label">Upload foto</label>
                <input type="file" name="image" id="image" class="form-control form-control-sm rounded-0" required>
            </div>
    </form>
    </div>
    <script>
        $(function() {
            $('body').on('keyup', '#selling_price', function (e) {
               
                var kepo = parseFloat($('#selling_price').val().replace(/,/gi, '')).toLocaleString('en-US');
                $('#selling_price').val(kepo);
                $('#selling_priceV2').val($('#selling_price').val().replace(/,/gi, ''));
            });
            $('body').on('keyup', '#price', function (e) {
               
                var kepo = parseFloat($('#price').val().replace(/,/gi, '')).toLocaleString('en-US');
                $('#price').val(kepo);
                $('#priceV2').val($('#price').val().replace(/,/gi, ''));
            });
            $('#product-form').submit(function(e) {
                
                e.preventDefault();
                var _this = $(this)
                console.log($(this)[0])
                $('.err-msg').remove();
                var el = $('<div>')
                el.addClass("alert alert-danger err-msg")
                el.hide()
                if (_this[0].checkValidity() == false) {
                    _this[0].reportValidity();
                    return false;
                }
                start_loader();
                $.ajax({
                    headers: {
                        "X-CSRFToken": '{{csrf_token}}'
                    },
                    url: "save_product",
                    data: new FormData($(this)[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    method: 'POST',
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function() {
            // setting a timeout
                        swal.fire({
                            title: 'Please Wait !',
                            html: 'Loading...',// add html attribute if you want or remove
                            allowOutsideClick: false,
                            showCancelButton: false, // There won't be any cancel button
                            showConfirmButton: false
                        
                        });
                    },
                    error: err => {
                        alert(err);
                        console.log(err)
                        end_loader();
                    },
                    success: function(resp) {
                        swal.close();
                        if (typeof resp == 'object' && resp.status == 'success') {
                            el.removeClass("alert alert-danger err-msg")
                            location.reload()
                        } else if (resp.status == 'failed' && !!resp.msg) {
                            el.text(resp.msg)
                        } else {
                            el.text("An error occured", 'error');
                            end_loader();
                            console.err(resp)
                        }
                        _this.prepend(el)
                        el.show('slow')
                        $("html, body, .modal").scrollTop(0);
                        end_loader()
                    }
                })
            })
        })
    </script>