{% extends layout %}


{% block body %}
{{ product_json | json_script:"product_json" }}

<style>
    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 40px;
        user-select: none;
        -webkit-user-select: none;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 40px;
        position: absolute;
        top: 1px;
        right: 1px;
        width: 20px;
    }

    .product-card {
        position: relative;
        background: #ffffff;
        display: block;
        width: 100%;
        margin-bottom: 14px;
        margin-top: 14px;
        /* height: 300px; */
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 7px 25px -10px rgba(0, 0, 0, 0.33);
        transition: all 0.5s ease;
    }


    .product-card * {
        transition: all 0.5s ease;
    }

    .product-card .product-link {
        display: block;
    }

    .product-card:hover {
        box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.25);
        transform: translateY(-3px);
    }

    .product-card:hover .product-link,
    .product-card .product-link:focus {
        text-decoration: none;
    }

    .product-card .product-link img {
        background: #eee;
        display: block;
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: top;
    }

    .product-card:hover .product-link img {
        height: 240px;

    }

    .product-card .overlay {
        display: block;
        width: 100%;
        height: 200px;
        background: rgba(0, 0, 0, .25);
        position: absolute;
        top: 0;
        opacity: 0;
    }

    .product-card:hover .overlay {
        height: 240px;
        opacity: 1;
    }

    .product-card .info {
        padding: 1.5rem;
        display: flex;
        background: linear-gradient(rgba(0, 0, 0, 0.025), transparent);
        flex-direction:column;
        /* text-align: center; */
    }

    .product-card:hover .info {
        padding-bottom: 80px;
    }


    .product-card .info .title {
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #555555;
    }

    .product-card .info .price {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 16px;
        /* float: right; */
        color: #2ecc71;
    }


    .product-card .info .price .woocommerce-Price-currencySymbol {
        font-size: 16px;
        vertical-align: top;
    }

    .product-card .button-wrap {
        position: absolute;
        bottom: -50px; 
        right: 0;
        left: 0;
        width: 100;
    }

    .product-card:hover .button-wrap {
        bottom: 2rem;

    }

    .product-card .button-wrap .button:hover {
        transform: none;
    }

    .product-card .button-wrap .button.cart {
        float: right;
        border-radius: 30px 0 0 30px !important;
        padding: 1rem 6.5rem;
    }

    .product-card .button-wrap .button.wish {
        float: left;
        margin-left: 2rem;
        width: 4.2rem;
        height: 4.2rem;
        padding: 1rem 1.33rem;
        background-color: #eee;
        color: #bbbbbb;
        box-shadow: none;
    }


    .product-card .button-wrap .button.wish:hover {
        float: left;
        margin-left: 2rem;
        width: 4.2rem;
        height: 4.2rem;
        padding: 1rem 1.33rem;
        background-color: #ffcdd2;
        box-shadow: none;
    }

    .product-card .button-wrap .button.wish:hover i {
        color: #f44336;
    }
    a.button {
        background: #2ecc71;
        display: inline-block;
        padding: 1rem 2rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800 !important;
        font-size: 16px;
        -webkit-border-radius: 100px !important;
        -moz-border-radius: 100px !important;
        border-radius: 100px !important;
        transition: all 0.3s ease;
        color: #ffffff;
        margin-top: 0.5rem;
        -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.133);
        -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.133);
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.133);
    }

    a.button:hover {
        text-decoration: none;
        -webkit-transform: translateY(-3px);
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -o-transform: translateY(-3px);
        transform: translateY(-3px);
        -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
    }

    a.button:active {
        background: #45e487;
        border-color: #45e487;
    }

    a.button.more {
        margin-top: 2rem;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #28a745;
        border-color: #3d9970;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-6 col-sm-6 col-12">
                <!-- small box -->
                <div class="small-box" style="padding: 16px;">
                    <div class="form-group" style="margin-bottom: 20px;">
                        <label>{{perms.APPS.add_employees}}</label>
                        <select id="product-id" class="select2" style="width: 100%;    height: 40px;">
                            <option value="">Search Product</option>

                            {% for product in products %}
                            <option value="{{ product.id }},{{product.name}}">{{product.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- <div style="text-align: right;">
                        <button type="submit" id="clickData" class="btn btn-info">Tambah Item</button>
                     </div>   -->

                    <div class="row">
                        <div class="col-md-12">
                            <div style="width: 100%; overflow: scroll;">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#" class="nav-link" id="allCategory"
                                            onclick="getByCategory('all', 'All')"
                                            style="text-align: center;background-color: beige;margin:5px;color: #6c757d;">
                                            All
                                        </a>
                                    </div>
                                    {% for cat in category %}
                                    <div class="col-md-3">
                                        <a href="#" class="nav-link" id="{{cat.name}}"
                                            onclick="getByCategory('{{cat.id}}', '{{cat.name}}')"
                                            style="text-align: center;background-color: beige;margin:5px;color: #6c757d;">
                                            {{cat.name}}
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>

                            </div>

                        </div>
                        <div class="col-md-12">
                            <!-- <div class="row">
                                
                                <div class="col-md-3">
                                    <div class="product-card">
                                        <a href="#" class="product-link">
                                            <img
                                                src='https://images.bisnis-cdn.com/posts/2022/01/07/1486573/asus-zenbook-14-new.jpg' />
                                            <span class="overlay"></span>
                                            <span class="info">
                                                <span class="title">AIdeal-Air Pro Series Cooling Only 36,000 BTU 18 SEER</span>
                                                
                                            </span>
                                        </a>
        
                                        <div class="button-wrap">
                                        </div>
        
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-card">
                                        <a href="#" class="product-link">
                                            <img
                                                src='https://images.bisnis-cdn.com/posts/2022/01/07/1486573/asus-zenbook-14-new.jpg' />
                                            <span class="overlay"></span>
                                            <span class="info">
                                                <span class="title">AIdeal-Air Pro Series Cooling Only 36,000 BTU 18 SEER</span>
                                                <span class="price">Rp.1.000</span>
                                                
                                            </span>
                                        </a>
        
                                        <div class="button-wrap">
                                        </div>
        
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-card">
                                        <a href="#" class="product-link">
                                            <img
                                                src='https://images.bisnis-cdn.com/posts/2022/01/07/1486573/asus-zenbook-14-new.jpg' />
                                            <span class="overlay"></span>
                                            <span class="info">
                                                <span class="title">AIdeal-Air Pro Series Cooling Only 36,000 BTU 18 SEER</span>
                                                
                                            </span>
                                        </a>
        
                                        <div class="button-wrap">
                                        </div>
        
                                    </div>
                                </div>
                            </div> -->
                            <div id="isiProduct" class="row" style=" height: 690px;overflow: scroll;">

                            </div>

                        </div>
                    </div>

                </div>

                <!-- <div class="small-box nav-link" style="height: 740px !important;overflow: scroll">
                    <div class="row" >
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="small-box">
                                <img src="https://www.dapurawit.com/wp-content/uploads/2020/11/Resep-Dimsum-Ayam-Enak-dan-Lembut.jpg" style="width:100%">
                                <div style="text-align: center;">
                                      <p>Dimsum Ayam</p>
                                      <p>Rp.15.000</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                          <div class="small-box">
                              <img src="https://www.dapurawit.com/wp-content/uploads/2020/11/Resep-Dimsum-Ayam-Enak-dan-Lembut.jpg" style="width:100%">
                              <div style="text-align: center;">
                                    <p>Dimsum Ayam</p>
                                    <p>Rp.15.000</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-12">
                          <div class="small-box">
                              <img src="https://www.dapurawit.com/wp-content/uploads/2020/11/Resep-Dimsum-Ayam-Enak-dan-Lembut.jpg" style="width:100%">
                              <div style="text-align: center;">
                                    <p>Dimsum Ayam</p>
                                    <p>Rp.15.000</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-12">
                          <div class="small-box">
                              <img src="https://www.dapurawit.com/wp-content/uploads/2020/11/Resep-Dimsum-Ayam-Enak-dan-Lembut.jpg" style="width:100%">
                              <div style="text-align: center;">
                                    <p>Dimsum Ayam</p>
                                    <p>Rp.15.000</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-12">
                          <div class="small-box">
                              <img src="https://www.dapurawit.com/wp-content/uploads/2020/11/Resep-Dimsum-Ayam-Enak-dan-Lembut.jpg" style="width:100%">
                              <div style="text-align: center;">
                                    <p>Dimsum Ayam</p>
                                    <p>Rp.15.000</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-12">
                          <div class="small-box">
                              <img src="https://www.dapurawit.com/wp-content/uploads/2020/11/Resep-Dimsum-Ayam-Enak-dan-Lembut.jpg" style="width:100%">
                              <div style="text-align: center;">
                                    <p>Dimsum Ayam</p>
                                    <p>Rp.15.000</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-12">
                          <div class="small-box">
                              <img src="https://www.dapurawit.com/wp-content/uploads/2020/11/Resep-Dimsum-Ayam-Enak-dan-Lembut.jpg" style="width:100%">
                              <div style="text-align: center;">
                                    <p>Dimsum Ayam</p>
                                    <p>Rp.15.000</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-12">
                          <div class="small-box">
                              <img src="https://www.dapurawit.com/wp-content/uploads/2020/11/Resep-Dimsum-Ayam-Enak-dan-Lembut.jpg" style="width:100%">
                              <div style="text-align: center;">
                                    <p>Dimsum Ayam</p>
                                    <p>Rp.15.000</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-12">
                          <div class="small-box">
                              <img src="https://www.dapurawit.com/wp-content/uploads/2020/11/Resep-Dimsum-Ayam-Enak-dan-Lembut.jpg" style="width:100%">
                              <div style="text-align: center;">
                                    <p>Dimsum Ayam</p>
                                    <p>Rp.15.000</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-12">
                          <div class="small-box">
                              <img src="https://www.dapurawit.com/wp-content/uploads/2020/11/Resep-Dimsum-Ayam-Enak-dan-Lembut.jpg" style="width:100%">
                              <div style="text-align: center;">
                                    <p>Dimsum Ayam</p>
                                    <p>Rp.15.000</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-12">
                          <div class="small-box">
                              <img src="https://www.dapurawit.com/wp-content/uploads/2020/11/Resep-Dimsum-Ayam-Enak-dan-Lembut.jpg" style="width:100%">
                              <div style="text-align: center;">
                                    <p>Dimsum Ayam</p>
                                    <p>Rp.15.000</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-12">
                          <div class="small-box">
                              <img src="https://www.dapurawit.com/wp-content/uploads/2020/11/Resep-Dimsum-Ayam-Enak-dan-Lembut.jpg" style="width:100%">
                              <div style="text-align: center;">
                                    <p>Dimsum Ayam</p>
                                    <p>Rp.15.000</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-12">
                          <div class="small-box">
                              <img src="https://www.dapurawit.com/wp-content/uploads/2020/11/Resep-Dimsum-Ayam-Enak-dan-Lembut.jpg" style="width:100%">
                              <div style="text-align: center;">
                                    <p>Dimsum Ayam</p>
                                    <p>Rp.15.000</p>
                              </div>
                          </div>
                      </div>
                    </div>
                </div> -->
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <!-- small box -->
                <div class="small-box nav-link">
                    
                    <div class="row">
                        <hr>
                        <div class="col-md-8 col-sm-6 col-12">
                            {% comment %} Order List {% endcomment %}
                        </div>
                        <div class="col-md-3 col-sm-6 col-12" style="text-align: right;">
                            {% comment %} {{date}} {% endcomment %}
                        </div>
                        <div style="border-bottom: 5px solid #B0B0B0; width: 100%;"></div>
                    </div>
                    <div class="row listView" id="listView" style=" height: 400px;overflow: scroll;">
                    </div>
                        <label for="name" class="control-label">Name Customer</label>
                        <input type="text" name="name" id="name" class="form-control" required>
                        <label for="name" class="control-label">Nomer Telpon Customer</label>
                        <input type="text" name="phone" id="phone" class="form-control" required>     
                        <label for="name" class="control-label" style="padding-top:12px">Tanggal Pembelian</label>
                        <input type="date" name="date12" id="date12"  class="form-control" required>
                        <label for="name" class="control-label">Alamat Customer</label>
                        <textarea type="text" name="address" id="address" class="form-control" required> </textarea>
                    </div>
                    
                    <div class="row" style="
                   bottom: 10px;
                   right: 10px;
                   width: 100%;">
                        <div class="col-md-3 col-sm-4 col-12" style="margin-top: 10px;">
                            <p>
                                Subtotal
                            </p>
                            
                            <!-- <p>
                            Pajak (10%)
                        </p> -->
                            <h3>
                                Total
                            </h3>
                        </div>
                        <div class="col-md-8 col-sm-8 col-12" style="margin-top: 10px;text-align: right;">
                            <p id="subtotal">
                                0
                            </p>
                            
                            <!-- <p>
                            Rp.3.000,-
                        </p>    -->
                            <h3 id="grandTotal">
                                Rp.0
                            </h3>
                            <button id="check_out" class="btn btn-info">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock body %}